VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VITE_N8N_CONTACT_WEBHOOK_URL=https://SEU_N8N/webhook/bluecat-contact
VITE_CONTACT_FORM_ENDPOINT=https://formsubmit.co/ajax/bluecat.tech77@gmail.com
